<!-- nav -->
<nav class="navbar navbar-secondary text-light background p-0">
  <div class="container-fluid">
    <span class="navbar-brand mb-0">Test aplicativo interoperabilidad</span>
    <form class="navbar-form">
      <mat-label class="navbar-form-text">Formato Datos:</mat-label>
      <mat-form-field>
        <mat-select matInput type="text" [formControl]="formatType">
          <mat-option [value]="'json'">Json</mat-option>
          <mat-option [value]="'xml'">XML</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</nav>

<!-- content -->
<app-patient></app-patient>

<!-- footer -->
<footer class="footer-main text-light background">
  <p class="m-0">&copy; Todos los derechos reservados - Grupo de Investigación OSIRIS & Bioaxis</p>
</footer>