// texto
$_textoPrimario: #223d8b;
$_textoIntermedio: #106CA8;;
$_textoBlanco: #ffffff;
$_textoGris: #e6e0e0f5;
$_textoGris5: #7f8288;
$_textoOscuro: #4F4F4F;
$_textoNegro: #17202A;

// botones
$_botonPrincipal: #0c266b;
$_botonDisabled: #29499c;
$_botonIntermedio: #51A5DD;

// fondos
$_fondoBase: #233C8A;
$_fondoIntermedio: #106CA8;
$_fondoSidenav: #eee;
$_fondoBlanco: #ffffff;
$_fondoGris: #e6e6e6;
$_fondoGris2: #f1f1f1;
$_fondoGris3: #c9c9c9;
$_fondoFilaActiva: #7abfec; 
$_fondoFilaSeleccionada: #479cd5; 

// menu
$_menuActivo: #2144a57a;
$_menuHover: #1432827a;

// bordes
$_bordeBlanco: #ffffff;
$_bordeGris: #e6e0e0f5;
$_bordeAzul: #3366cca1;